#wrapper {
    font-size: 16px;
}

.navbar-simple-text {
    float: left;
    padding: 15px;
    font-size: 16px;
    line-height: 20px;
}

#wrapper h1 {
    font-size: 24px;
}

#wrapper h2 {
    font-size: 23px;
}

#wrapper .btn {
    font-size: 16px;
}

#wrapper input {
    font-size: 16px;
}

#wrapper header .navbar-brand {
    color: #5a5a5a;
    font-weight: 500;
    font-size: 24px;
}

.auth-user-block {
    padding: 8px;
}

.auth-user-block img {
    height: 34px;
    width: 34px;
}

.auth-user-control {
    float: right;
    margin-top: 5px;
}

.auth-user-control a {
    margin-left: 15px;
    font-size: 17px;
}

.auth-user-control form.logout {
    float: right;
    margin-left: 15px;
    margin-top: 1px;
}

.auth-user-control form.logout button {
    background: none;
    border: none;
    padding: 0;
}

.auth-user-control form.logout span {
    color: #5a5a5a;
    display: block;
    font-size: 19px;
    cursor: pointer;
}

.auth-user-control form.logout span:hover {
    text-decoration: underline;
}

#wrapper .navbar-form input.form-control {
    border-right: none;
    box-shadow: none;
}

#wrapper .navbar-form input.form-control:focus {
    border-color: #ccc;
}

#wrapper .navbar-form .input-group-addon {
    background: #FFF;
    cursor: pointer;
}

.form-base {
    max-width: 400px;
    margin: 30px auto;
}

.form-base input:focus {
    text-align: left;
    box-shadow: none;
    border: 1px solid #ccc;
}

.form-base fieldset {
    margin-top: 10px;
}

.form-base .img-rounded {
    max-width: 110px;
    max-height: 110px;
    overflow: hidden;
    margin-bottom: 15px;
}

.control-item input:not([type=file]) {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.control-item input:not([type=file]):focus {
    outline: 0;
}

.has-error .control-item input:not([type=file]) {
    border: 1px solid #a94442;
}

.form-errors {
    color: #a94442;
}

.form-errors ul {
    margin-bottom: 0;
    padding-left: 20px;
}

p.profile-login {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    margin-bottom: 20px
}

.btn-ask {
    display: block;
    max-width: 195px;
    margin: 20px auto;
}

.trends {
    margin: auto;
}

.trend-item {
    margin: 15px 0;
}

.trend-item .label-primary {
    display: inline-block;
    width: 40px;
    background-color: #337ab7;
    padding: 7px 5px;
    margin-right: 5px;
    font-size: 16px;
}

.trend-item .trent-link {
    color: #000;
    cursor: pointer;
}

@media (min-width: 768px) {
    #wrapper .navbar-form .input-group {
        width: 300px;
    }
    .trends {
        max-width: 300px;
        margin: auto;
    }
    .btn-ask {
        margin-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .content {
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }
    .mobile-separator {
        margin: 0 -15px;
        border-bottom: 1px solid #ccc;
    }
}