{% extends "base.html" %}
{% block title %}{{ question }}{% endblock title %}
{% block content %}
    <h1 class="question-header">{{ question.title }}</h1>
    <div class="row content-block">
        <div class="col-xs-3 col-sm-2 col-lg-1">
            <div class="rating-control">
                <a href="{{ question.get_like_url }}" class="vote-up vote glyphicon glyphicon-thumbs-up"></a>
                <p class="rating">{{ question.rating }}</p>
                <a href="{{ question.get_dislike_url }}" class="vote-down vote glyphicon glyphicon-thumbs-down"></a>
            </div>
        </div>
        <div class="col-xs-9 col-sm-10 col-lg-11">
            <p>{{ question.text }}</p>
            <div class="additional">
                {% if question.tags.exists %}
                    <div class="tag-list">
                        {% for tag in question.tags.all %}
                            <a class="label label-primary" href="#">{{ tag }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="user-info">
                    <div class="user-avatar">
                        <img src="{{ question.author.get_avatar_url }}" alt=""/>
                    </div>
                    <p class="text-center">{{ question.author.username }}</p>
                </div>
            </div>
        </div>
    </div>
    {% for answer in question.answer_set.popular %}
        <div class="row content-block">
            <div class="col-xs-3 col-sm-2 col-lg-1">
                <div class="rating-control answer">
                    <a href="{{ answer.get_like_url }}" class="vote-up vote glyphicon glyphicon-thumbs-up"></a>
                    <p class="rating">{{ answer.rating }}</p>
                    <a href="{{ answer.get_dislike_url }}" class="vote-down vote glyphicon glyphicon-thumbs-down"></a>
                    <a href="#" class="is_answer glyphicon glyphicon-ok"></a>
                </div>
            </div>
            <div class="col-xs-9 col-sm-10 col-lg-11">
                <p>{{ answer.text }}</p>
                <div class="additional">
                    <div class="user-info">
                        <div class="user-avatar">
                            <img src="{{ answer.author.get_avatar_url }}" alt=""/>
                        </div>
                        <p class="text-center">{{ answer.author.username }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if user.is_authenticated %}
        <div class="answer-form">
            {% if form.errors %}
                <div class="form-errors">
                    {% for key, error in form.errors.items %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
            <form class="form-base" method="post" action="{{ question.get_url }}">
                <input type="hidden" name="question_id" value="{{ question.pk }}">
                {% include 'qa/form_template.html' %}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock content %}